output_tag = whisper_v3_BOHB

generation_max_length = 225
save_steps = 25
perturbation_interval = 25
eval_steps = 25
logging_steps = 25

model_type = openai/whisper-large-v3

max_steps = 1000
warmup_steps = 100

num_samples = 1
num_workers = 2
cpus_per_trial = 4
gpus_per_trial = 1
use_gpu = True

search_schedule_mode = large_small_BOHB
reduction_factor = 2
grace_period = 10

random_seed = 1337
push_to_hub = True