output_tag = whisper_tiny_PBT

generation_max_length = 225
save_steps = 4
perturbation_interval = 2
eval_steps = 2
logging_steps = 1

model_type = openai/whisper-tiny

num_train_epochs = 2

num_samples = 1
num_workers = 1
cpus_per_trial = 1
gpus_per_trial = 0
use_gpu = False

search_schedule_mode = large_large
reduction_factor = 2
grace_period = 2

random_seed = 1337
push_to_hub = False

path_to_data = dataset

max_warmup_steps = 2